@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular.ttf");
}
.l-body{
    margin: 0;
    padding: 0;
    background: url("../images/l-body.png") repeat;
}
a{
    color: #666;
    text-decoration: none;
}
.l-page{
    width: 972px;
    position: relative;
    background: white;
    margin: 60px auto;
    box-sizing: border-box;
}
.l-page:before, .l-page:after {
    z-index: -3;
    position: absolute;
    content: "";
    bottom: 7px;
    left: 15px;
    width: 50%;
    top: 70%;
    max-width:500px;
    background: #999;
    -webkit-box-shadow: 0 15px 9px #999;
    -moz-box-shadow: 0 15px 9px #999;
    box-shadow: 0 15px 9px #999;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.l-page:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    left: 470px;
}
.l-page-wrapper{
    position: relative;
}
.l-page-wrapper, .l-page-wrapper::before, .l-page-wrapper::after{
    width: 972px;
    height: 1384px;
    background: white;
    margin: 62px auto 84px auto;
    border: 0 solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px #ddd;
    border-bottom: 2px inset #fff;
}
.l-page-wrapper::before {
    position: absolute;
    top: -59px;
    left: 0;
    z-index: -1;
    content: '';

}
.l-page-wrapper::after {
    position: absolute;
    z-index: -2;
    top: -56px;
    left: 0;
    content: '';
}
/*header*/
.l-header, .l_unit, .l-box, .l-footer {
    width: 932px;
    margin: 0 auto;
    position: relative;
    font-size: 0;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.b-logo, .b-menu{
    display: inline-block;
    vertical-align: top;
}
.b-logo{
    margin: 26px 0 0 7px;
}
.b-menu {
    position: relative;
    margin-left: 208px;
    margin-top: 29px;
}
.b-menu-nav, .b-menu-nav-child {
    padding: 0;
    list-style: none;
    font: 14px 'Oxygen', normal, sans-serif;
}
.b-menu li, .b-menu-link {
    display: inline-block;
    font-size: 14px;
}
.b-menu-item, .b-menu-item-active {
    margin: 0 0 0 43px;
    position: relative;
}
.b-menu-nav-child {
    min-width: 100%;
    position: absolute;
    top: 24px;
    left: -5px;
    z-index: 1;
    opacity : 0;
    visibility : hidden;
    padding: 10px 15px 0 15px;
    width: 138px;
    border: 2px solid #ddd;
    background: white;
    border-radius: 2px;
    transition: margin .15s, opacity .15s;
}
.b-menu-item-active:hover ul {
    transition: opacity .3s ease-in-out;
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.b-menu-item-active{
    padding-bottom: 5px;
}
.b-menu-nav a:hover{
    color: #222;
}
.b-menu-child{
    margin: 4px auto;
    width: 145px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
}
.b-menu-child span{
    overflow: visible;
    opacity: 1;
    font: 10px 'Arial', normal, sans-serif;
    color: #aaa;
}
.b-menu-child:hover{
    transition: opacity .5s ease-in-out;
    background: #f3f3f3;
    border-radius: 4px;
}
.b-menu-child:last-child {
    border-bottom: 1px solid transparent;
}
.b-menu-child:active{
    background-color: #ffeac2;
}
.b-menu-nav-child:active{
    transition: opacity .3s ease-in-out;
}
.b-menu-nav-child::before, .b-menu-nav-child::after {
    content: '';
    position: absolute;
    border-left: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(255, 255, 255, 0);
    border-top: 10px solid rgba(221, 221 ,221 ,1);
    left: 20px;
    top: -1px;
}
.b-menu-nav-child::after {
    border-left: 10px solid rgba(255, 241, 190, 0);
    border-right: 10px solid rgba(255, 241, 190, 0);
    border-top: 10px solid white;
    left: 20px;
    top: -4px;
}
.b-menu-item:last-child {
    border: 1px solid #efaf3f;
    background: #ffc552;
    border-radius: 2px;
    padding: 3px 7px 4px;
}
.b-menu-link1{
    color: white;
}
.b-menu-link:hover,
.b-menu-link-active:hover,
.b-menu-link1:hover {
    color: #222;
}


.l_unit{
    border-bottom: 1px solid #e5e5e5;
    box-shadow:0 2px 1px rgba(246,246,246,.6);
    margin: 0 auto;
}
.b-scroll, .b-unit-content{
    display: inline-block;
    vertical-align: top;
}
[class^="b-scroll"] {
    position: relative;
    width: 292px;
    height: 190px;
    margin: 34px 0 30px 57px;
    -webkit-box-shadow:0 23px 10px -21px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 23px 10px -21px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 23px 10px -21px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.1) inset;
    background-color: #f6f6f6;
    border: 4px solid rgba(0, 0, 0, 0.1);

}
[class^="b-scroll"] input {
    display: none;
}
[class^="b-scroll"] div {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 0;
}
[class^="b-scroll"] img {
    position: relative;
    transition: .5s;
}

[class^="b-scroll"] label {
    cursor: pointer;
}
[class^="b-scroll"] input:nth-of-type(1):checked ~ label:nth-of-type(2):after,
[class^="b-scroll"] input:nth-of-type(2):checked ~ label:nth-of-type(3):after,
[class^="b-scroll"] input:nth-of-type(3):checked ~ label:nth-of-type(4):after,
[class^="b-scroll"] input:nth-of-type(4):checked ~ label:nth-of-type(5):after,
[class^="b-scroll"] input:nth-of-type(5):checked ~ label:nth-of-type(6):after,
[class^="b-scroll"] input:nth-of-type(6):checked ~ label:nth-of-type(7):after {
    content: url("../images/bot3.png");
    position: absolute;
    bottom: 2px;
    left: 224px;
    z-index: 1;
    opacity: 1;
    height: 53px;
}
[class^="b-scroll"] input:nth-of-type(2):checked ~ label:nth-of-type(1):after,
[class^="b-scroll"] input:nth-of-type(3):checked ~ label:nth-of-type(2):after,
[class^="b-scroll"] input:nth-of-type(4):checked ~ label:nth-of-type(3):after,
[class^="b-scroll"] input:nth-of-type(5):checked ~ label:nth-of-type(4):after,
[class^="b-scroll"] input:nth-of-type(6):checked ~ label:nth-of-type(5):after,
[class^="b-scroll"] input:nth-of-type(7):checked ~ label:nth-of-type(6):after {
    content: url("../images/bot_03.png");
    position: absolute;
    bottom: 2px;
    z-index: 1;
    left: 3px;
    opacity: 1;
    height: 53px;
}
[class^="b-scroll"] input:nth-of-type(1):checked ~ div img {right: 0;}
[class^="b-scroll"] input:nth-of-type(2):checked ~ div img {right: 292px;}
[class^="b-scroll"] input:nth-of-type(3):checked ~ div img {right: 584px;}
[class^="b-scroll"] input:nth-of-type(4):checked ~ div img {right: 876px;}
[class^="b-scroll"] input:nth-of-type(5):checked ~ div img {right: 1168px;}
[class^="b-scroll"] input:nth-of-type(6):checked ~ div img {right: 1460px;}
[class^="b-scroll"] input:nth-of-type(7):checked ~ div img {right: 1752px;}

.b-text{
    display: block;
    position: absolute;
    bottom: 4px;
    height: 51px !important;
    opacity: 0.7;
    margin-left: 37px;
    background-color: rgba(0,0,0,.5);
    border-radius: 3px;
    width: 218px;
    text-align: left;
}
.b-text-p{
    font: 13px 'Arial', sans-serif;
    color: white;
    margin: 7px 0 0 7px;
}
.b-text-from{
    font-size: 11px;
    color: #ffc14c;
}
span.b-text-Texas{
    font: 13px 'Arial', sans-serif;
    color: #676767;
}
.b-unit-content{
    position: relative;
    vertical-align: top;
    margin: 34px 0 20px 36px;
    color: #666;
    text-align: right;
}
.b-content{
    width: 480px;
    box-shadow:0 2px 1px rgba(246,246,246,.6);
    border-bottom: 2px inset #fff;
}
.b-content>h1{
    font: 38px/.05 'Oxygen', normal, sans-serif;
}
.b-content>p{
    font: 14px/1.3 'Oxygen', normal, sans-serif;
}
/*кнопка*/
.b-button{
    position: relative;
    width: 167px;
    height: 40px;
    margin: 6px 0 0 300px;
    background: linear-gradient(#ffb941, #ffbf48) #ffc350;
    border-radius: 3px;
    border: 1px solid #efb74c;
    box-shadow:0 1px 4px rgba(255,178,58,.8);
}
.b-button-left{
    position: absolute;
    width: 108px;
    left: 0;
    padding: 3px 7px 8px 9px;
    text-align: left;
    border-right: 2px solid rgba(255,178,58,.5);
    font: 17px/1 'MyriadProRegular', normal, sans-serif;
    color: white;
    text-shadow: 1px 2px 2px rgba(208,139,18,1), 0 0 1em rgba(255,255,255,1);
}
.b-button-right{
    border-left: 2px solid rgba(255,178,58,.5);
    position: absolute;
    left: 124px;
    padding: 11px 16px;
}
.b-button-left span{
    text-transform: uppercase;
    font: 10px 'Arial', bold, sans-serif;
    color: #d28600;
    text-shadow: 1px 1px 2px rgba(255,255,255,1), 0 0 1em rgba(255,255,255,1);
}
.b-button-left:hover{
    color: #d28600;
    text-shadow: 1px 2px 2px rgba(255,255,255,1), 0 0 1em rgba(255,255,255,1);
    -webkit-box-shadow:0 1px 4px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.8)inset;
    -moz-box-shadow:0 1px 4px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.8)inset;
    box-shadow:0 3px 4px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.8)inset;
}
.b-button-left:hover span{
    color: white;
}
.b-button-right:hover{
    -webkit-box-shadow:0 1px 4px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.8)inset;
    -moz-box-shadow:0 1px 4px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.8)inset;
    box-shadow:0 3px 4px rgba(255, 255, 255, 0.8), 0 0 5px rgba(255, 255, 255, 0.8)inset;
}

/*первая линия*/

.b-box1, .b-box2, .b-box3{
    width: 303px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    font-size: 0;
    margin: -4px 7px 0 0;
}
.b-box2 {
    margin-left: 1px;
}
.b-box3{
    margin-left: 1px;
}
.b-box-inner{
    position: relative;
}
.b-box-img{
    padding: 2px 2px 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:0 0 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2)inset;
}
.b-box-img img{
    margin-left: 1px;
}
.b-box-content{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-color: hsla(0, 0%, 0%, 0);
    background-image: linear-gradient(#f0f0f0, #f0f0f0), linear-gradient(to right bottom, transparent 50.5%, #f0f0f0 50.5%), linear-gradient(to left bottom, transparent 50.5%, #f0f0f0 50.5%), linear-gradient(to right top, transparent 50.5%, #f0f0f0 50.5%), linear-gradient(to left top, transparent 50.5%, #f0f0f0 50.5%);
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    background-position: 0 0px, 10px 0px, 10px 0px, 10px 100%, 10px 100%;
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-size: auto auto, 10px 10px, 10px 10px, 10px 10px, 10px 10px;
    border-bottom: 10px solid transparent;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0 solid transparent;
    display: inline-block;
    padding: 6px 14px 0 14px;
    vertical-align: middle;
    width: 273px;
}
.b-box-content  h1{
    margin-top: 5px;
    font: 14px/.5 'Oxygen', normal, sans-serif;
    color: #666;
}
.b-box-content p{
    font: 11px/.5 'Oxygen', normal, sans-serif;
    color: #999;
}
.b-box-inner:hover .b-box-content {
    background: rgba(255,255,255,1) url("../images/fon2.png") repeat no-repeat 0px 46px;
}
.b-box-icon{
    position: absolute;
    width: 295px;
    height: 141px;
    left: 4px;
    background: radial-gradient(rgba(255,255,255,.2),rgba(0,0,0,.6));
    opacity: 0;
    top: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.icon1, .icon2, .icon3 {
    background: rgba(251,251,251,1);
    border-radius: 100%;
    top: 15px;
    left: 28px;
    margin: 45px;
    width: 27px;
    height: 27px;
    display: inline-block;
    position: relative;
    box-shadow: 0 0 1px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0;
}
.icon1:hover, .icon2:hover, .icon3:hover{
    background: rgba(251,251,251,.7);
}
[class^="b-box icon2"]{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 80px;
    top: 5px;
    box-shadow: 0 0 1px 8px rgba(0, 0, 0, 0.3);
}
.icon1::after, .icon2::after, .icon3::after{
    position: absolute;
    height: 27px;
    width: 23px;
    background-image: url("../images/group.png");
    background-repeat: no-repeat;
    content: '';
    top: 5px;
}
[class^="b-box icon2"]::after{
    position: absolute;
    top: 13px;
    left: 9px;
    background-position: -52px -0px;
}
[class^="b-box icon3"]::after{
    background-position: -103px -0px;
    /right: 50px;
}
.b-box-inner:hover .b-box-icon{
    opacity: 1;
}
.b-box-inner:hover .b-box{
    opacity: 1;
}
.b-box-text{
    margin: 5px 2px;
    padding: 5px 5px;
    font: 12px/1.5 'Arial', normal, sans-serif;
    color: #666;
    text-align: justify;
}
.b-box-name h2{
    font: 18px/1.8 'Oxygen', sans-serif;
    color: #222;
}

.l-tab-wrap{
    width: 932px;
    margin: -28px auto;
    padding-bottom: 35px;
    border-bottom: 1px solid #e5e5e5;
    box-shadow:0 2px 1px rgba(246,246,246,.6);
}
.l-tab-wrap h2{
    font: 18px 'Oxygen', sans-serif;
    color: #222;
    padding-bottom: 10px;
}
.l-tab-wrap h2 span, .b-tab-korpus-inner-name h1 span{
    color: #c07e00;
    background: #ffe7b9;
    padding: 2px 0;
}
.b-tab {
    position: relative;
    margin: -6px auto;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: linear-gradient(#fdfdfd,#f9f9f9);
}
.b-tab-korpus>div, .b-tab-korpus>input {
    display: none;
}
.b-tab-korpus label {
    top: 4px;
    padding: 9px 15px;
    border-right: 1px solid #e6e6e6;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    background: linear-gradient(#fdfdfd,#f9f9f9);
}
.b-tab-korpus label:first-of-type{
    border-top-left-radius: 5px;
}
.b-tab-korpus input[type="radio"]:checked+label {
    border-bottom: 2px solid #fff;
    background: #fff;
}
.b-tab-korpus>input:nth-of-type(1):checked ~ div:nth-of-type(1),
.b-tab-korpus>input:nth-of-type(2):checked ~ div:nth-of-type(2),
.b-tab-korpus>input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display: block;
    padding: 5px 0 20px 0;
    height: 175px;
    margin-top: 8px;
    border-top: 1px solid #e6e6e6;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.b-tab-korpus-inner-list {
    position: relative;
    width: 156px;
    margin: 0 0 0 35px;
}
.b-tab-list:before {
    color: #cbcbcb;
    content: ">";
    font-size: 10px;
    font-weight: 700;
    left: -10px;
    position: relative;
    top: -1px;
}
.b-tab-list{
    font: 12px/1.5 'Arial', normal,sans-serif;
    padding-bottom: 3px;
    color: #333;
    list-style-type: none;
}
.b-tab-korpus-inner-name{
    width: 892px;
    margin: 10px auto;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 2px;
}
.b-tab-korpus-inner-name h1{
    color: #333;
    font: 14px 'Arial', sans-serif;
}
.b-tab-korpus-inner-list,.b-tab-korpus-inner-img1,
.b-tab-img, .b-tab-content, .b-tab-korpus-inner-img2{
    display: inline-block;
    vertical-align: top;
}
.b-tab-korpus-inner-img1{
    position: relative;
    margin: 2px 0 0 132px;
}
.b-tab-korpus-inner-img2{
    position: relative;
    margin: 2px 0 0 23px;
}
.b-tab-content{
    width: 150px;
    margin-top: -13px;
    padding-left: 5px;
}
.b-tab-content span{
    font: 12px 'Arial', sans-serif;
    font-weight: bold;
    color: #333;
}
.b-tab-content p{
    font: 12px/1.7 'Arial', sans-serif;
    color: #999;
}

.b-tab-korpus-content p{
    font: 12px/1.7 'Arial', sans-serif;
    color: #999;
    text-align: justify;
}
/*FOOTER*/
.l-footer{
    margin-top: 46px;
}
.b-footer-menu1, .b-footer-menu2, .b-footer-menu3{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.b-footer-menu1, .b-footer-menu2{
    width: 224px;
}
.b-footer-menu2{
    margin-left: 20px;
}
.b-footer-name-link{
    font: 12px 'Arial', sans-serif;
    font-weight: bold;
    color: #ffad19;
    text-transform: uppercase;
}
.b-footer-menu1-list1{
    position: relative;
    width: 180px;
}
.b-footer-list1{
    width: 180px;
    margin: 10px 0 0 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #e5e5e5;
    list-style-type: none;
}
.b-footer-list1:last-child, .b-footer-list2:last-child{
    border-bottom: 1px solid transparent;
}
.b-footer-link1{
    font: 12px 'Arial', sans-serif;
    color: #666;
}
.b-footer-menu1-list2{
    margin: 17px 0 0 0;
}
.b-footer-list2{
    width: 429px;
    margin: 6px 0 0 0;
    padding-left: 30px;
    border-bottom: 1px solid #e5e5e5;
    list-style-type: none;
}
.b-footer-list2 p{
    font: 11px/1.5 'Arial', sans-serif;
    color: #aaa;
    margin-top: 1px;
}
.b-footer-menu1-list2 li:before {
    content: "";
    position: absolute;
    display: block;
    opacity: .3;
    top: 33px;
    left: 4px;
    width: 22px;
    height: 139px;
    background: url("../images/bulet2.png");
}
.b-footer-name-link:hover {
    width: 172px;
    border-bottom: 1px solid #e5e5e5;
    color: #ffe7b9;
}
.b-footer-link1:hover{
    color: #e5e5e5;
}
