@font-face {
    font-family: 'Monotype';
    src: url('fonts/MTCORSVA.eot');
    src: local('MTCORSVA'), url('fonts/MTCORSVA.woff') format('woff'), url('fonts/MTCORSVA.ttf') format('truetype');
}

.header {
    position: relative;
    margin: 0 auto;
    min-width: 920px;
    height: 40px;
    background-color: rgba(235, 158, 253, .2);
}

.header__logo, .header__nav {
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
}

.header__logo {
    width: 405px;
    font: 25px "Monotype", sans-serif;
    font-weight: 400;
    margin-left: 40px;
    color: #95989A;
    text-shadow: 0 1px 6px rgba(235, 158, 253, .3);
}

.header__nav {
    position: relative;
    width: 520px;
    font: 20px 'Roboto', sans-serif;
}

.nav__item {
    float: left;
    border: 1px solid rgba(149, 152, 154, .3);
    text-align: center;
    border-right: none;
}

.nav__link {
    display: block;
    width: 128px;
    color: #95989A;
    padding: 1px 0;
}

#output {
    border-radius: 0 50px 50px 0;
    border-right: 1px solid rgba(149, 152, 154, .3);
}

#html {
    border-radius: 50px 0 0 50px;
}

.hover {
    background-color: rgba(0, 0, 0, .1);
}

.active {
    background-color: rgba(235, 158, 253, 1);
}

.hoverActive {
    background-color: rgba(235, 158, 253, .5);
}
/* -----end Header------*/
/*-------body__wrap-----------*/

.panel__wrap {
    height: calc(100vh - 70px);
}

.body__wrap {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    width: 50%;
    height: calc(100vh - 70px);
    border: 1px solid rgba(149, 152, 154, .3);
    border-left: none;
}

.hidden {
    display: none;
}

.body__title {
    font: 22px 'Roboto', sans-serif;
    color: rgba(149, 152, 154, .3);
    margin-left: 40px;
}

hr {
    border: none;
    height: 1px;
    box-shadow: inset 0 0 3px 4px rgba(149, 152, 154, .2);
}
.CodeMirror {
    height: 614px;
    min-width: 311px !important;
}

#cssPanel .CodeMirror-line span[role="presentation"],
#jsPanel .CodeMirror-line span[role="presentation"] {
    padding-left: 25px;
}

.body__container {
    margin: 0 auto;
    height: 100%;
}

.body__panel {
    height: 614px;
    width: 90%;
}

iframe {
    border: none;
}
/*----end Body_wrap----*/
/*----footer----*/

.footer {
    height: 30px;
    background-color: rgba(235, 158, 253, .2);
    padding-top: 5px;
    border: none;
    font: 15px "Monotype", sans-serif;
    color: #95989A;
    text-shadow: 0 1px 6px rgba(235, 158, 253, .3);
}

.footer__author {
    float: left;
    margin-left: 40px;
}

time {
    float: right;
    margin-right: 40px;
}

.clear:after {
    content: '';
    display: table;
    clear:  both;
}

