$font: 14px;
$fontFamily: 'Open Sans', sans-serif;
$fontNeuropol: 'Neuropol', sans-serif;
$fontLato: 'Lato', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$main_width: 1120px;

$text_color: #1b1008;
$footer_color: #1b1008;
$color: #473a36;
$color_sub_logo: #b2b1b0;
$section_color: rgba(71, 58, 54, 1);
$colorLinks: #b61a19;



//$text_color: #555;
//$footer_color: purple;
//$color: purple;
//$color_sub_logo: rgba(purple, .7);
//$section_color: rgba(purple, .3);
//$colorLinks: #b61a19;
