.container {
    background: #a64dff;
    width: 100%;
    margin-left: -10px;
    padding-right: 18px;
    margin-top: -10px;
}
ul {
    width: 900px;
    margin: auto;
    list-style: none;
}
ul li {
    display: inline-block;/*ставит в одну линию все элементы*/
    padding: 5px 10px;
    font-family: impact;
    font-size:18pt;
}

ul li:nth-child {
    float:right;/*прилипают друг к другу и при изменении ширины экрана все элементы видны за счет переноса*/
}
a {
    color: #fff;
    text-decoration: none;/*убирает подчеркивание ссылок*/
}
a:hover{
    background: gainsboro;
    color:grey;
    padding-top: 5px;
    padding-bottom: 5px;
}/*при наведении мышкой меняется цвет, но элемент еще не активирован*/

