/*header*/
/*noinspection CssInvalidFunction*/

.wrapper {
    width: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #c09c8f;
    background: url(style/img/lading-img.jpg) no-repeat;
    background-position: center;
    -ms-behavior: url(src-slide/PIE.htc);
}
.header_wrap{
    width: 960px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    outline: 1px solid red;
}
