/*header*/
/*noinspection CssInvalidFunction*/

.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header {
    float: left;
    position: relative;
    overflow: hidden;
    background-image: url(style/img/lading-img.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    /*background: url("style/img/lading-img.jpg") no-repeat top center;*/
    /*-webkit-background-size:  cover;*/
    /*background-size:          cover;*/
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='style/img/lading-img.jpg', sizingMethod='scale');*/
}

.header_wrap {
    width: 960px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.logo_link, .checkin_link {
    color: black\0/;
}

.header_top {
    width: 100%;
    color: black;
}

.header_topic {
    width: 520px;
    position: relative;
    left: 25%;
}
