*.xml
*.zip
*.log
*.pdf
*.xls

# ignore all files in the node_modules/ directory
node_modules/

# Dependency directories
node_modules

# Optional npm cache directory
.npm

*.[oa]
*~

# ignore all .txt files in the exam_js/ directory
exam_js/**/*.txt
