.image__article {
    width: 240px;
}

.owl-next {
    left: 215px;
}

.sprite1, .sprite2, .sprite3, .sprite4 {
    width: 36px;
    height: 36px;
    border: 4px solid white;
}

.sprite1 {
    background: rgb(255, 78, 80) url("../img/tv.png") no-repeat center;
}

.sprite2 {
    background: rgb(28, 215, 173) url("../img/cup.png") no-repeat center;
}

.sprite3 {
    background: rgb(255, 165, 7) url("../img/bottle.png") no-repeat center;
}

.sprite4 {
    background: rgb(78, 115, 219) url("../img/plane.png") no-repeat center;
}