/* partners
   ========================================================================== */

@import 'variables';

@media (min-width: $small) {

  .partners {
    width: 90%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    color: rgb(51, 51, 51);
  }

  .partners_title {
    font: $size + 2 $font-MontserratBold;
    margin: 18px 0 0 -7px;
  }

  .figure {
    width: 90%;
    margin: 13px auto;
    display: block;
  }

  .face3, .face4 {
    padding: 1px 4px 0 0;
  }

  .humans_face {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 135px;
    height: 135px;
  }

  .face {
    width: 124px;
    height: 124px;
    border-radius: 50%;
  }

  .humans_sprit {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 9px;
    right: 4px;
    background: rgba(0, 0, 0, 0) url("../img/sprite-desktop-small-1.png") no-repeat -2px -3px;
  }

  .humans_info {
    width: 230px;
    margin: 3px auto;
    padding-bottom: 15px;
  }

  .info_title {
    font: $size - 6 $font-MontserratBold;
  }

  .info_text {
    font: $size - 6 $font-RobotoLight;
    color: rgb(102, 102, 102);
    margin: 13px 0 0 0;
    letter-spacing: .3px;
    line-height: 1.2;
  }

  .sprite2 {
    background: rgba(0, 0, 0, 0) url("../img/sprite-desktop-small-1.png") no-repeat -83px -3px;
  }

  .sprite3 {
    background: rgba(0, 0, 0, 0) url("../img/sprite-desktop-small-1.png") no-repeat -43px -3px;
  }

  .sprite4 {
    background: rgba(0, 0, 0, 0) url("../img/sprite-desktop-small-1.png") no-repeat -124px -3px;
  }

  .partners_form {
    position: relative;
    overflow: hidden;
    width: 286px;
    margin: 0 auto;
  }

  .partners_button {
    display: block;
    width: 280px;
    height: 40px;
    background-color: white;
    border: 2px solid rgb(255, 78, 80);
    padding: 8px 0 0 0;
    border-radius: 20px;
    color: rgb(255, 78, 80);
    font: $size - 6 $font-MontserratBold;
  }
}

@media (min-width: $middle) {

  .partners {
    margin: 46px auto;
    width: 66%;
    height: 100%;
    }

  .partners_men, .partners_women {
    width: 48%;
    height: 570px;
  }

  .partners_men {
    float: left;
    display: inline;
    margin-left: 5px;
    & .humans_info {
      margin-left: -7px;
    }
  }

  .partners_women {
    float: right;
    & .humans_info {
      margin-left: -9px;
    }
  }

  .figure {
    margin: 30px auto;
  }

  .face2, .face4 {
    padding-top: 14px;
  }

  .partners_form {
    width: 200px;
    top: -8px;
    left: 2px;
  }

  .partners_button {
    width: 192px;
    height: 40px;
  }

}

@media (min-width: 1024px) {
  .partners {
    margin: 44px auto;
    left: 2px;
    width: 945px;
    clear: both;
  }

  .partners_men, .partners_women {
    height: 310px;
  }

  .figure {
    width: 46%;
    margin-bottom: 59px;
  }

  .face1, .face3{
    float: left;
    display: inline;
    margin-left: 2px;
    & .humans_info {
      margin-left: -5%;
    }
  }

  .face3{
    margin-left: -53.2%;
    & .humans_info {
      margin-left: -8%;
    }
  }

  .face4, .face2 {
    float: right;
    display: inline;
    & .humans_info {
      margin-left: -13px;
    }
  }
  .face2 {
    margin: 18px -52.1% 0 0;
  }

  .face4 {
    margin: 16px 9px 0 0;
  }
}