$small: 320px;
$middle: 727px;
$large: 1440px;
$nav_width: 30px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}



$font-MontserratBold: 'Montserrat-Bold', sans-serif;
$font-MontserratRegular: 'Montserrat-Regular', sans-serif;
$font-RobotoLight: 'Roboto-Light', sans-serif;

$size: 20px;

.messagePosition{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.messageInline {
  display: inline-block;
  vertical-align: top;
}

.messageTransform {
  text-transform: uppercase;
}

.messageSignBtn {
  width: 90px;
  height: 36px;
  padding: 2px 0 0 12px;
  border: 2px solid white;
  border-radius: 18px;
}

.messageChoiceLink {
  display: block;
  //width: 225px;
  height: 40px;
  padding: 11.2px 2px 0 0;
  background-color: rgb(255, 78, 80);
  border-radius: 20px;
  font: $size - 6 $font-MontserratBold;
}